* { box-sizing: border-box }

html, body {
  margin: 0;
  height: 100%;
  max-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

nav.topnav, .controller {
  background: lighten(#000, 98%);
}

nav.topnav {
  display: flex;
  height: 41px;

  border-bottom: 1px solid lighten(#000, 92%);

  img {
    flex: 1;
    padding: 4px;
  }
}

.controller {
  height: 64px;
  bottom: 0;

  border: none;

  .overlay {
    box-shadow: inset -50px 0 30px -30px #fafafa;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &:hover {
    .times {opacity: 1; transition-delay: 0;}
  }

  .times {
    transition: .1s opacity linear 1s;

    position: absolute;
    opacity: 0;
    top: -14px;
    width: 100%;

    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;

    .time {
      background: #777;
      padding: 0 6px;
      color: white;
    }

    .elapsed { float: left; border-radius: 0 4px 0 0; }
    .remaining { float: right; border-radius: 4px 0 0 0; }
  }

  progress {
    display: block;
    width: 100%;
    height: 4px;

    -webkit-appearance: none;
  }

  .songInfo, .volume {
    position: relative;
    overflow: hidden;

    transition: flex-grow .4s ease;

    @media (max-width: 767px) {
      flex-grow: 0.00001 !important
    }
  }

  .songInfo {
    margin: 3px 0;

    line-height: 18px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;

    img {
      height: 54px;
      min-width: 54px;
      margin-right: 8px;
      float: left;
    }

    div {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 15px;

    > div { flex: 1 }

    .transport {
      display: flex;
      flex: 1.5;

      margin: 0 4%;

      svg {
        height: 40px;
        width: 40px;

        flex: 1;
      }

      .i-thumbs-down { transform: scaleX(-1) }
    }

    .volume {
      display: flex;
      overflow: hidden;

      flex: 1 0 30px;

      transition: flex-grow .4s ease;

      svg {
        flex: 0 0 30px;
        height: 30px;
        margin-right: 15px;
      }

      input {
        flex: 1
      }
    }
  }
}

.content {
  display: flex;
  flex: 1;

  #player {
    flex: 8;

    text-align: center;
  }

  #stations {
    flex: 4;

    overflow-y: scroll;
  }
}

.songInfo {
  .artist, .album { font-weight: 300 }
  .title { font-weight: 600 }
}

.station {
  margin: 8px 0;
}
